<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Berker Okan - Hesabı Düzenle</title>
</head>
<body>
  <h1>{{ request.user.username }} | Hesap Düzenleme </h1>
  <p style="margin-bottom: 4rem;">Hesabınızın ayarlarını ve profilinizi düzenleyebilirsiniz</p>

  <form action="" method="post">
    {% csrf_token %}
    {{ account_form.as_p }}
    {{ profile_form.as_p }}
    <input type="submit" value="Kaydet" class="btn-primary" style="margin-top:1rem">
    <a href="./" style="margin-left: 1rem">Vazgeç</a>
</form>
</body>
</html>