<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Berker Okan - Bilgilerimi Unuttum</title>
  </head>
  <body>
    <h1>Bilgilerimi Unuttum</h1>

    <form action="forgot-credentials" method="POST">
      {% csrf_token %}

      {% if recovery_code == False %}
      <label for="email">E-Posta:</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="me@example.com"
      />
      <br /><br />

      {% elif change_allowed == True %} 

      <label for="password">Yeni Şifre:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="******"
      />
      <br /><br />
      <label for="re-password">Yeni Şifre (Tekrar):</label>
      <input
        type="password"
        id="re-password"
        name="re-password"
        placeholder="******"
      />
      <br /><br />

      {% else %} 
      <label for="recovery-code">Kurtarma Kodu:</label>
      <input
        type="number"
        id="recovery-code"
        name="recovery-code"
        placeholder="xxxxxx"
      />
      <br /><br /> 
      {% endif %}
      <input type="submit" value="Hesabımı Kurtar" />  
    </form> 
    <br />
    <br />

    <a href="../">E-Posta'mı unuttum</a>
    <a href="../">Geri Dön</a>
  </body>
</html>
