<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Berker Okan</title>
  </head>
  <body>
    {% if request.user.is_authenticated %}
    <h1>Hesap: {{ request.user.username }}</h1>
    <a href="profile">Hesabım</a>
    <a href="authentication/logout">Çıkış Yap</a>
    {% else %}
    <h1>Anasayfa, giriş yapabilir ve kayıt olabilirsin</h1>
    <a href="authentication/login">Giriş Yap</a>
    <a href="authentication/register">Kayıt Ol</a>
    {% endif %}
  </body>
</html>
