{% extends 'base.html' %} 
{% block head %}
<link rel="stylesheet" href="/static/works.css" />
<style>
  .section-hero {
    overflow-y: scroll;
  }

  .inspected-works {
    
  }


</style>
{% endblock %} 
{% block content %} 
<section class="section-hero">
  <div class="wrapper inspected">
    <div class="inspected-works">
      <div class="inspected-work sub-work">
        <header class="post__header">
          <p class="post__subheading">Denemeler</p>
          <h3 class="post__title">Ben Bir Sıfat Buldum</h3>
        </header>

        <p class="post__content">
          Aralık ayının 21. günü güneş ışınları oğlak dönencesine dik olarak gelir. Bu sebeple yılın en uzun gecesi yaşanır Kuzey yarım kürede. Bu bilimsel bilgidir. Acem kültüründe “şeb-i yelda” olarak isimlendirilmiştir. “Şeb”, gece; “yelda” ise uzun demektir Farsçada. Tabii işin içine duygular karışınca en uzun gece
        </p>

        <div class="post__interaction">
          <a href="#" class="post__read-more">Devamını Oku</a>
          <div class="post__details">
            <span class="post__publish-date post__metric"><i class="ph-clock post__publish-date-icon"></i> <div class="date post__metric-count">21.13 - 17.10.2022</div></span>
            <div class="post__user-reaction">
              <span class="post__like post__metric"><i class="ph-thumbs-up post__publish-like-icon post-interaction-icon"></i> <div class="like post__metric-count">150</div></span>
              <span class="post__like post__metric"><i class="ph-chat post__publish-like-icon post-interaction-icon"></i> <div class="comment post__metric-count">150</div></span>
            </div>
          </div>
        </div>
      </div>      <div class="inspected-work sub-work">
        <header class="post__header">
          <p class="post__subheading">Denemeler</p>
          <h3 class="post__title">Ben Bir Sıfat Buldum</h3>
        </header>

        <p class="post__content">
          Aralık ayının 21. günü güneş ışınları oğlak dönencesine dik olarak gelir. Bu sebeple yılın en uzun gecesi yaşanır Kuzey yarım kürede. Bu bilimsel bilgidir. Acem kültüründe “şeb-i yelda” olarak isimlendirilmiştir. “Şeb”, gece; “yelda” ise uzun demektir Farsçada. Tabii işin içine duygular karışınca en uzun gece
        </p>

        <div class="post__interaction">
          <a href="#" class="post__read-more">Devamını Oku</a>
          <div class="post__details">
            <span class="post__publish-date post__metric"><i class="ph-clock post__publish-date-icon"></i> <div class="date post__metric-count">21.13 - 17.10.2022</div></span>
            <div class="post__user-reaction">
              <span class="post__like post__metric"><i class="ph-thumbs-up post__publish-like-icon post-interaction-icon"></i> <div class="like post__metric-count">150</div></span>
              <span class="post__like post__metric"><i class="ph-chat post__publish-like-icon post-interaction-icon"></i> <div class="comment post__metric-count">150</div></span>
            </div>
          </div>
        </div>
      </div>      <div class="inspected-work sub-work">
        <header class="post__header">
          <p class="post__subheading">Denemeler</p>
          <h3 class="post__title">Ben Bir Sıfat Buldum</h3>
        </header>

        <p class="post__content">
          Aralık ayının 21. günü güneş ışınları oğlak dönencesine dik olarak gelir. Bu sebeple yılın en uzun gecesi yaşanır Kuzey yarım kürede. Bu bilimsel bilgidir. Acem kültüründe “şeb-i yelda” olarak isimlendirilmiştir. “Şeb”, gece; “yelda” ise uzun demektir Farsçada. Tabii işin içine duygular karışınca en uzun gece
        </p>

        <div class="post__interaction">
          <a href="#" class="post__read-more">Devamını Oku</a>
          <div class="post__details">
            <span class="post__publish-date post__metric"><i class="ph-clock post__publish-date-icon"></i> <div class="date post__metric-count">21.13 - 17.10.2022</div></span>
            <div class="post__user-reaction">
              <span class="post__like post__metric"><i class="ph-thumbs-up post__publish-like-icon post-interaction-icon"></i> <div class="like post__metric-count">150</div></span>
              <span class="post__like post__metric"><i class="ph-chat post__publish-like-icon post-interaction-icon"></i> <div class="comment post__metric-count">150</div></span>
            </div>
          </div>
        </div>
      </div>      <div class="inspected-work sub-work">
        <header class="post__header">
          <p class="post__subheading">Denemeler</p>
          <h3 class="post__title">Ben Bir Sıfat Buldum</h3>
        </header>

        <p class="post__content">
          Aralık ayının 21. günü güneş ışınları oğlak dönencesine dik olarak gelir. Bu sebeple yılın en uzun gecesi yaşanır Kuzey yarım kürede. Bu bilimsel bilgidir. Acem kültüründe “şeb-i yelda” olarak isimlendirilmiştir. “Şeb”, gece; “yelda” ise uzun demektir Farsçada. Tabii işin içine duygular karışınca en uzun gece
        </p>

        <div class="post__interaction">
          <a href="#" class="post__read-more">Devamını Oku</a>
          <div class="post__details">
            <span class="post__publish-date post__metric"><i class="ph-clock post__publish-date-icon"></i> <div class="date post__metric-count">21.13 - 17.10.2022</div></span>
            <div class="post__user-reaction">
              <span class="post__like post__metric"><i class="ph-thumbs-up post__publish-like-icon post-interaction-icon"></i> <div class="like post__metric-count">150</div></span>
              <span class="post__like post__metric"><i class="ph-chat post__publish-like-icon post-interaction-icon"></i> <div class="comment post__metric-count">150</div></span>
            </div>
          </div>
        </div>
      </div>      <div class="inspected-work sub-work">
        <header class="post__header">
          <p class="post__subheading">Denemeler</p>
          <h3 class="post__title">Ben Bir Sıfat Buldum</h3>
        </header>

        <p class="post__content">
          Aralık ayının 21. günü güneş ışınları oğlak dönencesine dik olarak gelir. Bu sebeple yılın en uzun gecesi yaşanır Kuzey yarım kürede. Bu bilimsel bilgidir. Acem kültüründe “şeb-i yelda” olarak isimlendirilmiştir. “Şeb”, gece; “yelda” ise uzun demektir Farsçada. Tabii işin içine duygular karışınca en uzun gece
        </p>

        <div class="post__interaction">
          <a href="#" class="post__read-more">Devamını Oku</a>
          <div class="post__details">
            <span class="post__publish-date post__metric"><i class="ph-clock post__publish-date-icon"></i> <div class="date post__metric-count">21.13 - 17.10.2022</div></span>
            <div class="post__user-reaction">
              <span class="post__like post__metric"><i class="ph-thumbs-up post__publish-like-icon post-interaction-icon"></i> <div class="like post__metric-count">150</div></span>
              <span class="post__like post__metric"><i class="ph-chat post__publish-like-icon post-interaction-icon"></i> <div class="comment post__metric-count">150</div></span>
            </div>
          </div>
        </div>
      </div>
      <div class="inspected-work sub-work">
        <header class="post__header">
          <p class="post__subheading">Denemeler</p>
          <h3 class="post__title">Ben Bir Sıfat Buldum</h3>
        </header>

        <p class="post__content">
          Aralık ayının 21. günü güneş ışınları oğlak dönencesine dik olarak gelir. Bu sebeple yılın en uzun gecesi yaşanır Kuzey yarım kürede. Bu bilimsel bilgidir. Acem kültüründe “şeb-i yelda” olarak isimlendirilmiştir. “Şeb”, gece; “yelda” ise uzun demektir Farsçada. Tabii işin içine duygular karışınca en uzun gece
        </p>

        <div class="post__interaction">
          <a href="#" class="post__read-more">Devamını Oku</a>
          <div class="post__details">
            <span class="post__publish-date post__metric"><i class="ph-clock post__publish-date-icon"></i> <div class="date post__metric-count">21.13 - 17.10.2022</div></span>
            <div class="post__user-reaction">
              <span class="post__like post__metric"><i class="ph-thumbs-up post__publish-like-icon post-interaction-icon"></i> <div class="like post__metric-count">150</div></span>
              <span class="post__like post__metric"><i class="ph-chat post__publish-like-icon post-interaction-icon"></i> <div class="comment post__metric-count">150</div></span>
            </div>
          </div>
        </div>
      </div>
      <div class="inspected-work sub-work">
        <header class="post__header">
          <p class="post__subheading">Denemeler</p>
          <h3 class="post__title">Ben Bir Sıfat Buldum</h3>
        </header>

        <p class="post__content">
          Aralık ayının 21. günü güneş ışınları oğlak dönencesine dik olarak gelir. Bu sebeple yılın en uzun gecesi yaşanır Kuzey yarım kürede. Bu bilimsel bilgidir. Acem kültüründe “şeb-i yelda” olarak isimlendirilmiştir. “Şeb”, gece; “yelda” ise uzun demektir Farsçada. Tabii işin içine duygular karışınca en uzun gece
        </p>

        <div class="post__interaction">
          <a href="#" class="post__read-more">Devamını Oku</a>
          <div class="post__details">
            <span class="post__publish-date post__metric"><i class="ph-clock post__publish-date-icon"></i> <div class="date post__metric-count">21.13 - 17.10.2022</div></span>
            <div class="post__user-reaction">
              <span class="post__like post__metric"><i class="ph-thumbs-up post__publish-like-icon post-interaction-icon"></i> <div class="like post__metric-count">150</div></span>
              <span class="post__like post__metric"><i class="ph-chat post__publish-like-icon post-interaction-icon"></i> <div class="comment post__metric-count">150</div></span>
            </div>
          </div>
        </div>
      </div>
      <div class="inspected-work sub-work">
        <header class="post__header">
          <p class="post__subheading">Denemeler</p>
          <h3 class="post__title">Ben Bir Sıfat Buldum</h3>
        </header>

        <p class="post__content">
          Aralık ayının 21. günü güneş ışınları oğlak dönencesine dik olarak gelir. Bu sebeple yılın en uzun gecesi yaşanır Kuzey yarım kürede. Bu bilimsel bilgidir. Acem kültüründe “şeb-i yelda” olarak isimlendirilmiştir. “Şeb”, gece; “yelda” ise uzun demektir Farsçada. Tabii işin içine duygular karışınca en uzun gece
        </p>

        <div class="post__interaction">
          <a href="#" class="post__read-more">Devamını Oku</a>
          <div class="post__details">
            <span class="post__publish-date post__metric"><i class="ph-clock post__publish-date-icon"></i> <div class="date post__metric-count">21.13 - 17.10.2022</div></span>
            <div class="post__user-reaction">
              <span class="post__like post__metric"><i class="ph-thumbs-up post__publish-like-icon post-interaction-icon"></i> <div class="like post__metric-count">150</div></span>
              <span class="post__like post__metric"><i class="ph-chat post__publish-like-icon post-interaction-icon"></i> <div class="comment post__metric-count">150</div></span>
            </div>
          </div>
        </div>
      </div>      <div class="inspected-work sub-work">
        <header class="post__header">
          <p class="post__subheading">Denemeler</p>
          <h3 class="post__title">Ben Bir Sıfat Buldum</h3>
        </header>

        <p class="post__content">
          Aralık ayının 21. günü güneş ışınları oğlak dönencesine dik olarak gelir. Bu sebeple yılın en uzun gecesi yaşanır Kuzey yarım kürede. Bu bilimsel bilgidir. Acem kültüründe “şeb-i yelda” olarak isimlendirilmiştir. “Şeb”, gece; “yelda” ise uzun demektir Farsçada. Tabii işin içine duygular karışınca en uzun gece
        </p>

        <div class="post__interaction">
          <a href="#" class="post__read-more">Devamını Oku</a>
          <div class="post__details">
            <span class="post__publish-date post__metric"><i class="ph-clock post__publish-date-icon"></i> <div class="date post__metric-count">21.13 - 17.10.2022</div></span>
            <div class="post__user-reaction">
              <span class="post__like post__metric"><i class="ph-thumbs-up post__publish-like-icon post-interaction-icon"></i> <div class="like post__metric-count">150</div></span>
              <span class="post__like post__metric"><i class="ph-chat post__publish-like-icon post-interaction-icon"></i> <div class="comment post__metric-count">150</div></span>
            </div>
          </div>
        </div>
      </div>      
      <div class="inspected-work sub-work">
        <header class="post__header">
          <p class="post__subheading">Denemeler</p>
          <h3 class="post__title">Ben Bir Sıfat Buldum</h3>
        </header>

        <p class="post__content">
          Aralık ayının 21. günü güneş ışınları oğlak dönencesine dik olarak gelir. Bu sebeple yılın en uzun gecesi yaşanır Kuzey yarım kürede. Bu bilimsel bilgidir. Acem kültüründe “şeb-i yelda” olarak isimlendirilmiştir. “Şeb”, gece; “yelda” ise uzun demektir Farsçada. Tabii işin içine duygular karışınca en uzun gece
        </p>

        <div class="post__interaction">
          <a href="#" class="post__read-more">Devamını Oku</a>
          <div class="post__details">
            <span class="post__publish-date post__metric"><i class="ph-clock post__publish-date-icon"></i> <div class="date post__metric-count">21.13 - 17.10.2022</div></span>
            <div class="post__user-reaction">
              <span class="post__like post__metric"><i class="ph-thumbs-up post__publish-like-icon post-interaction-icon"></i> <div class="like post__metric-count">150</div></span>
              <span class="post__like post__metric"><i class="ph-chat post__publish-like-icon post-interaction-icon"></i> <div class="comment post__metric-count">150</div></span>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</section>
{% endblock %}