<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Berker Okan - Giriş Yap</title>
  </head>
  <body>
    <h1>Giriş Yap</h1>

    <form action="login" method="POST">
      {% csrf_token %}

      <label for="username">Kullanıcı Adın:</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="violencedev"
        value="{{ username }}"
      />
      <br />
      <label for="password">Şifren:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="*****"
        value="{{ password }}"
      />
      <br /><br />
      <label for="remember-me">Beni hatırla</label>
      <input
        type="checkbox"
        name="remember-me"
        id="remember-me"
        {{ checked }}
      /><br /><br />
      <input type="submit" value="Giriş Yap" /> 
    </form> 
    <br />
    <br />

    <a href="forgot-credentials">Bilgilerimi unuttum</a> <br>
    <a href="../">Geri Dön</a>
  </body>
</html>
