<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Berker Okan - Kayıt Ol</title>
  </head>
  <body>
    <h1>Kayıt Ol</h1>

    <form action="register" method="POST">
      {% csrf_token %}

      <label for="username">Kullanıcı Adın:</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="violencedev"
      />
      <br />
      <label for="email">E-Posta:</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="me@example.com"
      />
      <br />
      <label for="password">Şifren:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="******"
      />
      <br /><label for="re-password">Şifren (Yeniden):</label>
      <input
        type="password"
        id="re-password"
        name="re-password"
        placeholder="******"
      />
      <br /><br />
      <input type="submit" value="Kayıt Ol" />
    </form>
    <br />
    <br />

    <a href="../">Geri Dön</a>
  </body>
</html>
