{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="/static/works.css" /> {% endblock %} 
{% block content %}
<section class="section-hero">

  <div class="wrapper">
    <div class="work-topics">
      <a href="podcasts" class="work-link">
        <div class="work-topic">
          <i class="ph-microphone work-icon"></i>
          <h2 class="work-header">Podcast</h2>
          <p class="work-description">Belirli periyotlar halinde yayınlanan "Mırıldanmalar" serisi</p>
        </div>
      </a>
      <a href="books" class="work-link">
        <div class="work-topic">
          <i class="ph-book work-icon"></i>
          <h2 class="work-header">Kitap</h2>
          <p class="work-description">Berker Okan'ın yazarlığını üstlendiği, başyapıt niteliğindeki kitapları</p>
        </div>
      </a>
      <a href="trials" class="work-link">
        <div class="work-topic">
          <i class="ph-article work-icon"></i>
          <h2 class="work-header">Denemeler</h2>
          <p class="work-description">Çeşitli konular hakkında kişisel fikirlerin ön planda tutulduğu metinler</p>
        </div>
      </a>
      <a href="stories" class="work-link">
        <div class="work-topic">
          <i class="ph-book-open work-icon"></i>
          <h2 class="work-header">Hikaye</h2>
          <p class="work-description">Yaratıcılıktan ve ilhamdan beslenen, estetik kaygı güden metinler</p>
        </div>
      </a>
      <a href="criticisms" class="work-link">
        <div class="work-topic">
          <i class="ph-note-pencil work-icon"></i>
          <h2 class="work-header">Eleştiri</h2>
          <p class="work-description">Yapıcı tenkitlerin bulunduğu ve gelişimi esas alan edebi metinler</p>
        </div>
      </a>
    </div>
  
    <div class="last-posts">
      <div class="sub-heading">Son Paylaşılanlar</div>
  
      <div class="last-posts-container">
        <div class="last-post sub-work">
          <header class="post__header">
            <p class="post__subheading">Denemeler</p>
            <h3 class="post__title">Ben Bir Sıfat Buldum</h3>
          </header>
  
          <p class="post__content">
            Aralık ayının 21. günü güneş ışınları oğlak dönencesine dik olarak gelir. Bu sebeple yılın en uzun gecesi yaşanır Kuzey yarım kürede. Bu bilimsel bilgidir. Acem kültüründe “şeb-i yelda” olarak isimlendirilmiştir.
          </p>
  
          <div class="post__interaction">
            <a href="#" class="post__read-more">Devamını Oku</a>
            <span class="post__publish-date post__metric"><i class="ph-clock post__publish-date-icon"></i> <div class="date">21.13 - 17.10.2022</div></span>
          </div>
        </div>
        <div class="last-post sub-work">
          <header class="post__header">
            <p class="post__subheading">Denemeler</p>
            <h3 class="post__title">Ben Bir Sıfat Buldum</h3>
          </header>
  
          <p class="post__content">
            Aralık ayının 21. günü güneş ışınları oğlak dönencesine dik olarak gelir. Bu sebeple yılın en uzun gecesi yaşanır Kuzey yarım kürede. Bu bilimsel bilgidir. Acem kültüründe “şeb-i yelda” olarak isimlendirilmiştir.
          </p>
  
          <div class="post__interaction">
            <a href="#" class="post__read-more">Devamını Oku</a>
            <span class="post__publish-date post__metric"><i class="ph-clock post__publish-date-icon"></i> <div class="date">21.13 - 17.10.2022</div></span>
          </div>
        </div>
        <div class="last-post sub-work">
          <header class="post__header">
            <p class="post__subheading">Denemeler</p>
            <h3 class="post__title">Ben Bir Sıfat Buldum</h3>
          </header>
  
          <p class="post__content">
            Aralık ayının 21. günü güneş ışınları oğlak dönencesine dik olarak gelir. Bu sebeple yılın en uzun gecesi yaşanır Kuzey yarım kürede. Bu bilimsel bilgidir. Acem kültüründe “şeb-i yelda” olarak isimlendirilmiştir.
          </p>
  
          <div class="post__interaction">
            <a href="#" class="post__read-more">Devamını Oku</a>
            <span class="post__publish-date post__metric"><i class="ph-clock post__publish-date-icon"></i> <div class="date">21.13 - 17.10.2022</div></span>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock %}
